%body#main_page
  .container
    .row
      .col-lg-12.col-xs-12
        .main_box
          .logo
            = image_tag "logo_main_new.png"
          .enter_box
            = link_to "Enter", main_page_home_path
        .footer
          = image_tag "logo_footer.png"
          %p This advertisement is not an offering. It is a solicitation of interest in the advertised property. No offering of the advertised units can be made and no deposits can be accepted, or reservations, binding or non-binding, can be made until an offering plan is filed with the New York State Department of Law. This advertisement is made pursuant to Cooperative Policy Statement No. 1, issued by the New York State Department of Law. File# CP12-0061. Property Address: 199 Mott Street, New York NY 10012. Sponsor: First Mott LLC 15 West 18th Street Suite 200 New York NY 10011.