%body#teams
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .clear  
                .legal
                  %p{style: "padding: 200px 0 200px 0;"}
                    All dimensions are approximate and subject to normal construction variances and tolerances. Sponsor reserves the right to make changes due to unforeseen conditions and in accordance with the offering plan. For exact measurements you must hire your own architect or engineer.This advertisement is not an offering. It is a solicitation of interest in the advertised property. No offering of the advertised units can be made and no deposits can be accepted, or reservations, binding or non-binding, can be made until an offering plan is filed with the New York State Department of Law. This advertisement is made pursuant to Cooperative Policy Statement No. 1, issued by the New York State Department of Law. File# CP12-0061. Property Address: 199 Mott Street, New York NY 10012. Sponsor: First Mott LLC 15 West 18th Street Suite 200 New York NY 10011
            = render :partial => "footer"