%body#second_page
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box_right
              .navigation
                %a.prev{href: ""}
                %a.next{href: lobby_home_path} Next
              .content_title
                %h4
                  = image_tag "Logo-plate.png"
                  %br
                  The Newest Addition to old new york
                %p{style:'display:none;'} 
                  “Qui ditatem oluptas maxime peritati us mod mil molorerit quia volupta.”
              .content_image
                .content_inner
                  = image_tag "Hero.jpg"
            = render :partial => "footer"