%body#nolita
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box
              %a.prev{href: penthouse_home_path, :style => "display:block"} Prev
              %a.next{href: map_home_path, :style => "display:block"} Next
              .mainner_box{style: 'text-align:center'}
                = image_tag "Mott_Map.png", style: "width:90%"
            = render :partial => "footer"