%body#nolita
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .availability_img
                  .nolita_1
                    = image_tag "nolita_12.png"
                  .nolita_2
                    = image_tag "nolita_1.png"
            = render :partial => "footer"