%ul
  %li
    %a.active{href: main_page_homes_path} The building
    %ul
      %li
        %a{href: lobby_homes_path} Lobby
      %li
        %a{href: rooftop_homes_path} Rooftop Lounge
  %li
    %a{href: living_room_homes_path} Residencies
    %ul
      %li
        %a{href: living_room_homes_path} living room
      %li
        %a{href: kitchen_homes_path} Kitchen
      %li
        %a{href: bathroom_homes_path} Bathroom
      %li
        %a{href: penthouse_homes_path} Penthouse
  %li
    %a{href: nolita_homes_path} Neighborhood
    %ul
      %li
        %a{href: nolita_homes_path} Nolita
      %li
        %a{href: map_homes_path} Map
  %li
    %a{href: availability_homes_path} Availability
  %li
    %a{href: fact_sheet_homes_path} Fact Sheet
  %li
    %a{href: team_homes_path} Team
  %li
    %a{href: press_homes_path} Press
  %li
    %a{href: new_contact_path} Contact