%body#fact_sheet
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .content_title1
                  .content_box_one{style: "margin-left:9%;"}
                    %h3 residential features
                    %ul
                      %li
                        High-performance window walls of floor-to-ceiling Traco “U Value”
                        %br/
                        1-inch argon-filled, gasketed and insulated windows increase natural light, reduce noise pollution and reduce heat gain and heat loss
                      %li
                        Rich 7-inch-wide plank walnut floors by Porcelanosa with FSC
                        %br/
                        Certification
                      %li Innovative heat recovery system tempers air and delivers filtered fresh air year round
                      %li State-of-the-art central heating and cooling systems by Daikin allow for zone control and keep temperature constant by 2+/- degrees
                      %li
                        Low/No-VOC paints, sealants and coatings eliminate allergenic and odor-based irritants
                      %li Environmental Tobacco Smoke (ETS) Control minimizes exposure of residents to airborne pollutants
                      %li Bosch Axxis washer and dryer
                  .content_box_one
                    %h3 kitchen features
                    %ul
                      %li Eric Ripert Kitchen by Poggenpohl in beautiful “Teak Lava” finish
                      %li Porcelain designer tile floors
                      %li Caesarstone Countertops and backsplash
                      %li Grohe Minta faucets combine style and high efficiency
                      %li InSinkErator garbage disposal
                      %li In-cabinet recycling center
                      %li Energy Star-rated appliances include:
                      %li Smeg 28” five burner cooktop
                      %li Smeg built-in convection oven
                      %li Faber Diamante range hood
                      %li Fully integrated Bosch dishwasher
                      %li GE Monogram microwave
                      %li master bathroom features
                      %li Colonial Silver marble from Alabama countertops, slabs, tub surrounds, walls and floors
                      %li White lacquer vanity cabinets by Poggenpohl
                      %li Radiant heat floors
                      %li Advanced, water-conserving toto aimes toilets and faucets with thermostatic controls
                      %li Glass-enclosed stall showers in some apartments
                      %li Deep soaking bathtubs by Neptune
                      %li Vanity lighting and vanity mirrored medicine cabinet by Robern
                  .content_box_one
                    %h3 penthouse features
                    %ul
                      %li Eric Ripert Kitchen by Poggenpohl in beautiful “Teak Lava” finish
                      %li Porcelain designer tile floors
                      %li Caesarstone Countertops and backsplash
                      %li Grohe Minta faucets combine style and high efficiency
                      %li InSinkErator garbage disposal
                      %li In-cabinet recycling center
                      %li Energy Star-rated appliances include:
                      %li Smeg 28” five burner cooktop
                      %li Smeg built-in convection oven
                      %li Faber Diamante range hood
                      %li Fully integrated Liebherr refrigerator
                      %li Fully integrated Bosch dishwasher
                      %li GE Monogram microwave
                      %li master bathroom features
                      %li Colonial Silver marble from Alabama countertops, slabs, tub surrounds, walls and floors
                      %li White lacquer vanity cabinets by Poggenpohl
                      %li Radiant heat floors
                      %li Advanced, water-conserving toto aimes toilets and faucets with thermostatic controls
                      %li Glass-enclosed stall showers in some apartments
                      %li Deep soaking bathtubs by Neptune
                      %li Vanity lighting and vanity mirrored medicine cabinet by Robern
                .download_form
                  %a{href: ""}
                    = image_tag "download.png"
                    Download Fact Sheet
            = render :partial => "footer"