%body#teams
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box1
              .content_box2
                .clear  
                .legal
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vestibulum enim. In semper malesuada elit. Nullam malesuada leo vel tincidunt suscipit. Donec tempus vehicula mauris, sit amet aliquam dolor porta a. Quisque fermentum lorem elit, quis pellentesque est porttitor at. Nunc interdum lacinia lacus, eu hendrerit turpis lobortis sit amet. Morbi varius ac tellus sit amet imperdiet. Cras a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris.
                  %p
                    a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris. Suspendisse elementum nibh massa, eu pretium nulla auctor ac. Maecenas semper est in sem tempus blandit. Nullam ullamcorper condimentum rutrum. Aliquam interdum est sed odio vestibulum, ac rhoncus nisl elementum. Cras luctus accumsan egestas.
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vestibulum enim. In semper malesuada elit. Nullam malesuada leo vel tincidunt suscipit. Donec tempus vehicula mauris, sit amet aliquam dolor porta a. Quisque fermentum lorem elit, quis pellentesque est porttitor at. Nunc interdum lacinia lacus, eu hendrerit turpis lobortis sit amet. Morbi varius ac tellus sit amet imperdiet. Cras a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris.
                  %p
                    a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris. Suspendisse elementum nibh massa, eu pretium nulla auctor ac. Maecenas semper est in sem tempus blandit. Nullam ullamcorper condimentum rutrum. Aliquam interdum est sed odio vestibulum, ac rhoncus nisl elementum. Cras luctus accumsan egestas.
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vestibulum enim. In semper malesuada elit. Nullam malesuada leo vel tincidunt suscipit. Donec tempus vehicula mauris, sit amet aliquam dolor porta a. Quisque fermentum lorem elit, quis pellentesque est porttitor at. Nunc interdum lacinia lacus, eu hendrerit turpis lobortis sit amet. Morbi varius ac tellus sit amet imperdiet. Cras a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris.
                  %p
                    a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris. Suspendisse elementum nibh massa, eu pretium nulla auctor ac. Maecenas semper est in sem tempus blandit. Nullam ullamcorper condimentum rutrum. Aliquam interdum est sed odio vestibulum, ac rhoncus nisl elementum. Cras luctus accumsan egestas.
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet vestibulum enim. In semper malesuada elit. Nullam malesuada leo vel tincidunt suscipit. Donec tempus vehicula mauris, sit amet aliquam dolor porta a. Quisque fermentum lorem elit, quis pellentesque est porttitor at. Nunc interdum lacinia lacus, eu hendrerit turpis lobortis sit amet. Morbi varius ac tellus sit amet imperdiet. Cras a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris.
                  %p
                    a nibh in ante dignissim aliquam vel nec odio. In a justo turpis. Pellentesque a ligula tincidunt, semper orci et, vulputate mauris. Suspendisse elementum nibh massa, eu pretium nulla auctor ac. Maecenas semper est in sem tempus blandit. Nullam ullamcorper condimentum rutrum. Aliquam interdum est sed odio vestibulum, ac rhoncus nisl elementum. Cras luctus accumsan egestas.
            .footer
              .footer_left
                %a{href: legal_homes_path} Legal
              .footer_right Alfa Development © 2014
            .footer_logo
              =image_tag "199-motto_logo.png"