%body#living_room
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box.main
              %a.prev{href: rooftop_homes_path, :style => "display:block"} Prev
              %a.next{href: kitchen_homes_path} Next
              .mainner_box
                #bh_slide_1
                  .main_box_press.wrapper-parent.lobby_img
                    = image_tag "living_room.png"
                .content
                  .rooftop
                    LIVING ROOM
                  .lobby_para
                    %p
                      “Qui ditatem oluptas maxime peritati us mod mil molorerit quia volupta. Bus modis rectorpore, cor rerehen imporita sped ut re, invel modis re
                      torpore. Ecus. Nulpa conseque dolorenitis quoditaquo velent quo te nossimp orpost velesto consed es quis molupta tibusan ihicilla dolorer ciissun.
            = render :partial => "footer"