%body#second_page
  .container
    .row
      .col-lg-12.col-xs-12
        .main_container
          .inner_container
            .menu
              = render :partial => "main_menu"
            .content_box
              .navigation
                %a.prev{href: ""}
                %a.next{href: ""} Next
              .content_title
                %h4 The Newest Addition to old new york
                %p “Qui ditatem oluptas maxime peritati us mod mil molorerit quia volupta.”
              .content_image
                .content_inner
                  = image_tag "building.png"
            .footer
              .footer_left
                %a{href: "legal.html"} Legal
              .footer_right Alfa Development © 2014
            .footer_logo
              = image_tag "199-motto_logo.png"