@charset "utf-8";
/*@font-face {
	font-family: 'TrajanPro-Bold';
	src: url("TrajanPro-Bold.eot?") format('eot'), 
	     url("TrajanPro-Bold.otf")  format('opentype'),
	     url("TrajanPro-Bold.woff") format('woff'), 
	     url("TrajanPro-Bold.ttf")  format('truetype'),
	     url("TrajanPro-Bold.svg#TrajanPro-Bold") format('svg');
}

@font-face {
	font-family: 'TrajanPro-Regular';
	src: url("TrajanPro-Regular.eot?") format('eot'), 
	     url("TrajanPro-Regular.otf")  format('opentype'),
	     url("TrajanPro-Regular.woff") format('woff'), 
	     url("TrajanPro-Regular.ttf")  format('truetype'),
	     url("TrajanPro-Regular.svg#TrajanPro-Regular") format('svg');
}

@font-face {
    font-family: 'libre_baskervillebold';
    src: url("librebaskerville-bold-webfont.eot");
    src: url("librebaskerville-bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("librebaskerville-bold-webfont.woff") format('woff'),
         url("librebaskerville-bold-webfont.ttf") format('truetype'),
         url("librebaskerville-bold-webfont.svg#libre_baskervillebold") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('librebaskerville-italic-webfont.eot');
    src: url('librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('librebaskerville-italic-webfont.woff') format('woff'),
         url('librebaskerville-italic-webfont.ttf') format('truetype'),
         url('librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('librebaskerville-regular-webfont.eot');
    src: url('librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('librebaskerville-regular-webfont.woff') format('woff'),
         url('librebaskerville-regular-webfont.ttf') format('truetype'),
         url('librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/****----- Web Fonts ------------------*****/

:focus{
	outline:none !important;	
}
.active{
	outline:none !important;		
}
body#main_page{
	background:#000;	
}
/*body#fact_sheet{
	background: url("FV_beast_02.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);	
}
body#teams{
	background: url("FV_beast_03.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);	
}
body#second_page {
    background: url("FV_meadow.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
body#contact{
	background:url("FV_beast_05.jpg")	no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
body#living_room {
	background:url("FV_beast_01.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
body#press{
	background:url("FV_beast_04.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);	
}
body#availability
{
	background:url("FV_beast_02.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
}
body#nolita
{
	background:url("FV_louis5.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	
}*/

.main_box {
    border: 4px double #C3862D;
    height: auto;
    margin: 50px auto;
    width: 85%;
}
.logo {
    margin: 100px auto 180px;
    width: 55%;
}
.logo img{
	width:100%;
}
.enter_box {
    margin: -45px 0px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 85%;
}
.enter_box img {
	height: 100px;
}
.enter_box a {
    /*background: url(enter_border.jpg) no-repeat scroll center center / 100% 68% rgba(0, 0, 0, 0);*/
    color: #784c0c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
     line-height: 100px;
    padding: 6%;
    text-indent: 75px;
    text-transform: uppercase;
    width: 100%;
}
.enter_box a:hover{
	 color: #C3862D;
	 text-decoration:none;	
}
.footer {
    float: left;
    width: 100%;
	margin-bottom:10px;
}
.footer img {
    float: left;
	margin-top:50px;
    margin-left: 10%;
    width: 3%;
}
.footer p {
    float: left;
	color:#6e6e6e;
    font-size: 8px;
	text-transform:uppercase;
    margin: 50px 1% 0;
    padding: 0;
    text-align: left;
    width: 78%;
}
.main_container{
	width:100%;
	float:left;
	padding:2px;
	margin-top:30px;
	border:	4px double #C3862D;
}
.inner_container{
	width:100%;
	float:left;
	border:	1px solid #C3862D;	
	background:#f9f6ee;
	padding:0 5px;
}
.menu{
	width:100%;
	text-align:center;
	float:left;
}
.menu ul {
    list-style: none outside none;
	margin:0 0 10px;
	position:relative;
	top:10px;
    padding: 0;
}
.menu li{
	display:inline-block;
}
.menu ul ul a{
	margin:0;	
}
.menu a {
    color: #C3862D;
    font-family: 'TrajanPro-Regular',arial;
    font-size: 15px;
    margin-left: 24px;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.menu a:hover, .active {
    border-bottom: 5px solid #C3862D;
    color: #C3862D;
    text-decoration: none;
}
.menu ul ul {
    display: none;
    padding: 13px 0;
    position: absolute;
    top: 100%;
    width: 14%;
	z-index:1111;
}
.menu ul li:hover > ul{
	display:block;	
}
.menu ul ul li{
	display:block;	
	background:#F9F6EE;
}
.menu ul ul a {
    font-size: 12px;
    left: 0;
    width: 100%;
}
.menu ul ul a:hover{
	border:none;
	text-decoration:underline;	
}
.content_box{
	width:100%;
	height:640px;
	padding:10px;	
	float:left;
	/*background:url(border_warrow.jpg) no-repeat;*/
	background-position:center center;
	background-size:100% 100%;
}
.content_box1 {
    border: 4px double #C3862D;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    padding: 2px;
    width: 97%;
}
.content_box2{
	width:100%;
	padding:10px;	
	float:left;
	border:1px solid #C3862D;
	
}

.footer_left {
    margin-left: 3%;
    width: 14%;
	float:left;
}
.footer_left a{
	color: #C3862D;
	position:relative;
	z-index:213123;
	font-size:12px;
}
.footer_right{
	color: #C3862D;	
    margin-right: 2%;
    width: 14%;
	float:right;
	font-size:12px;
	margin-bottom:10px;
}
.footer_logo img{
	width:12%;
}
.footer_logo {
    float: left;
    position: absolute;
    text-align: center;
    bottom: -25px;
    width: 97%;
}
.content_title{
	width:50%;
	float:left;	
}
.content_title h4 {
    color: #C3862D;
    font-family: 'TrajanPro-Bold',arial;
    font-size: 32px;
    margin-left: 12%;
    margin-top: 140px;
    padding: 10px;
	line-height:42px;
    text-align: center;
    width: 100%;
}
.content_image{
	border:	1px solid #C3862D;
	padding:2px;
	width:30%;
	margin:18px 98px;
	float:left;
}
.content_inner{
	border: 4px double #C3862D;
}
.content_inner img{
	width:100%;	
}
.content_title p {
    font-family: 'libre_baskervilleitalic';
    font-size: 14px;
    margin: 263px 27% 0;
    text-align: center;
    width: 65%;
}
.navigation {
    position: absolute;
	margin-top:300px;
    width: 96%;
}
.next {
    float: right;
	font-family: 'TrajanPro-Regular';
	color:#C3862D;
}
.prev{
    float: left;
	font-family: 'TrajanPro-Regular';
	color:#C3862D;
	margin-left:15px;
}
.next:hover, .prev:hover{
	color:#C3862D;	
}
.content_box_one{
	 width:24%;
	 margin:0 3%;
	 float:left;
}
.content_title1{
	width:100%;
	float:left;
	}
.content_box_one ul{
	margin:0;
	padding:0 13px;	
}
.content_box_one h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;	
	padding-bottom:3px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:1px solid #000;
	color:#000;
}
.content_box_one li {
    font-family: 'libre_baskervilleregular';		
	margin-top:2px;
	font-size:10px;
}
.download_form{
	width:100%;
	float:left;
	margin-top:40px;
	margin-left:3%;	
}
.download_form a{
	font-family: 'TrajanPro-Regular';
	color:#C3862D;	
	font-size:12px;
	font-weight:bold;
}
.download_form a:hover{
	color:#C3862D;		
}
.team_box1 {
    float: left;
    margin-left: 8%;
    width: 43%;
	border:4px double #C3862D;
	padding:2px;
}
.team_box2{
	width:100%;
	border:1px solid #C3862D;
}
.team_box5{
    float: left;
    margin-left: 8%;
    width: 43%;
	padding:2px;
}
.team_box2 img{
	width:100%;	
}
.team_right{
	width:45%;
	float:left;	
	margin-left:2%;
}
.team_right h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;	
	padding-bottom:3px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:1px solid #000;
	color:#000;
	margin:0;
}
.team_right p{
	margin:10px 0;	
	font-family: 'libre_baskervilleregular';		
	font-size:10px;
}
.content_box_3{
	width:100%;
	float:left;	
}
.abt_team{
	width:35%;
	margin-bottom:20px;
}
.team_box5 h5{
	border-bottom:1px solid #000;
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	font-size:14px;	
	padding-bottom:3px;
	font-weight:normal;

}
.team_box5 span{
	font-weight:bold;
	font-size:13px;
	text-transform:uppercase;	
}
.team_box5 h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;	
	padding-bottom:3px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:1px solid #000;
	color:#000;
	margin:0;
}
.team_box5 p{
	margin:10px 0;	
	font-family: 'libre_baskervilleregular';		
	font-size:10px;
}
.abt_team img{
	width:100%;	
}
.abt_team1{
	width:20%;
	float:left;
	margin:19px 2%;
	}
.abt_team1 img{
	width:100%;	
}
.team_box6 {
	float: left;
	margin-left: 2%;
	width: 45%;
}
.team_box6 h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;	
	padding-bottom:3px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:1px solid #000;
	color:#000;
	margin:0;
}
.team_box6 p{
	margin:10px 0;	
	font-family: 'libre_baskervilleregular';		
	font-size:10px;
}
.lobby_img  img {
    width: 100%;
	height:540px;
}
.press_img img{
	width: 84% !important;
	height:540px;
}
.lobby_img {
    margin: 10px auto 0;
    width: 85%;
}
.lobby
{
	width:10%;
	color:#c3862d;
	float:left;
	font-size: 15px;
	font-family: 'TrajanPro-Regular',arial;
}
.content {
    float: left;
    margin-top: 2%;
}
.content_nolita {
    float: left;
    margin-left:9%;
    width:83%;
    margin-top: 2%;
}
.lobby_para {
    float: left;
    width: 90%;
	font-family: 'libre_baskervilleitalic';
	font-size:12.3px;
	color:#666666;

}
.prev {
    color: #C3862D;
    left: 4%;
	cursor:pointer;
    position: absolute;
    top: 50.5%;
	font-family: 'TrajanPro-Regular',arial;
}
.next {
	cursor:pointer;
    color: #C3862D;
    float: right;
    font-family: 'TrajanPro-Regular',arial;
     left: 92%;
    position: absolute;
    top: 50.5%;
}
.lobby_para p {
    margin-bottom: 3%;
	 margin-left: 28px;
}
.rooftop {
    color: #C3862D;
    float: left;
    font-family: 'TrajanPro-Regular',arial;
    font-size: 13px;
    width: 10%;
}
.lobby_para1 {
    color: #666666;
    float: left;
    font-family: 'libre_baskervilleitalic';
    font-size: 12.3px;
    width:39%;
}
.contact_header{
	width:65%;
	margin:0 auto;
}
.contact_header h3{
	font-family:Verdana, Geneva, sans-serif;
	color:#c89547;
	font-size:14px;
	padding-bottom:4px;
	text-transform:uppercase;
	border-bottom:1px solid #C3862D;
	font-weight: normal;
}
.contact_header span{
	 font-family: 'libre_baskervilleitalic';
	 text-transform:none;
	 margin-left:3%;
}
.contact_box{
	width:30%;
  font-family: 'libre_baskervilleregular';
  font-size:11px;
	margin-right:3%;
	float:left;		
}
.contact_box p {
    margin: 0;
    padding: 0;
}
.contact_form {
	 width:65%;
	margin:20px auto 0;
	text-align:center;
}
.contact_form h2{
	font-size:14px;
	color:#c89547;
	margin-bottom:30px;
	text-transform:uppercase;
	margin-top:100px;
	font-family: 'TrajanPro-Bold', arial;
	font-weight: normal;		
}
.contact_left{
	width:47%;
	float:left;	
}
.text_box{
	width:100%;
	float:left;	
	margin:5px 0;
}
.text_box input{
	float:right;	
	border:1px solid #c89547;
	width:70%;
	background:#E9F4E9;
	height: 24px;
	border-radius: 0 0 0 0;
}
.text_box input:focus {
  border: 1px solid #C89547;
  box-shadow: none;
  outline: medium none;
}
.text_box span{
	float:left;
	text-transform:uppercase;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;	
}
.contact_lower_left{
	width:46%;
	float:left;
	margin-top:30px;
	margin-right:5%;		
}
.contact_lower_right{
	width:48%;
	float:left;
	margin-top:30px;
}
.contact_box1{
	width:100%;
	float:left;
	text-align:left;
	font-size:12px;
	text-transform:uppercase;
}
.contact_box1 a{
	border:1px solid #c89547;
	color:#000;
	padding:2px 5px;
	margin-left:6px;
}
.contact_box1 a:hover{
	background:	#c89547;
	text-decoration:none;
}
.option_box{
		float:left;
	margin-top:10px;
	width:100%;
}
.contact_lower_left1{
	width:44%;
	float:left;
	margin-top:30px;
	margin-right:7%;		
}
.contact_lower_left2{
	width:48%;
	float:left;
	margin-top:30px;

}
.option_box span{
	float:left;
	text-transform:uppercase;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;	
}
.option_box select{
	background: none repeat scroll 0 0 #E9F4E9;
  border: 1px solid #C89547;
  border-radius: 0 0 0 0;
  margin-top: 2%;
  padding: 5px;
  width: 100%;
}
.required{
	margin-left:4%;
	color:#c89547;	
}
.additional_comment{
	width:100%;
	margin-top:30px;
	float:left;	
	text-align:left;	
}
.additional_comment span{
	text-align:left;	
}
.additional_comment textarea{
	width:100%;
	float:left;
	margin-top:10px;
	border:	1px solid #c89547;
	resize:none;
	border-radius: 0 0 0 0;
	box-shadow: none;
}
.sumit_btn{
	width:100%;
	text-align:center;	
	float:left;
	margin:20px 0 30px;
}
.save_contact{
	border:4px double 	#c89547;
	padding:10px;
	color:#c89547;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'TrajanPro-Regular', arial;
}
.sumit_btn a:hover{
	color:#c89547;	
}
.press_box {
    float: left;
    margin: 11px 83px;
    width: 87%;
}
.press_box img{
	width:100%;
}
.kitchen_right1 img {
    width: 12%;
	height:auto;
}
.kitchen_right
{
    float: left;
    margin-left: 8%;
}
ul.kitchen_right1 li
{
	display:inline;
	margin-left:25px;
}
.lobby_para1 p {
    margin-bottom: 3%;
	 
}
.availability_img {
    margin: 3% auto 0;
    width: 70%;
}
.availability_img > img
{
	width:100%;
}
.content_box1 {
    border: 4px double #C3862D;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    padding: 2px;
    width: 97%;
}
.content_box2{
	width:100%;
	padding:10px;	
	float:left;
	border:1px solid #C3862D;
	
}
.availability_table {
    /*border-bottom: 1px solid #000000;*/
    float: left;
    margin: 3% 0 auto;
    padding-bottom: 4px;
    text-align: center;
    width: 100%;
}
.residence
{
    float: left;
    font-size: 12px;
    width: 14%;
	color:black;
	font-family: 'TrajanPro-Regular',arial;
	text-align:left;
}
.border_bottom
{
	border-bottom:1px solid black;
}
.residence li {
    list-style: none outside none;
    text-align: left;
	font-size:10px;
}
.li_color
{
	color:#a29c92;
}
.residence > ul
{
	margin-top:0 !important;
}
.residence > ul {
    margin: 0;
    padding: 0;
}
.residence_span
{
	border-bottom:1px solid black;
	float: left;
    width: 100%;
	margin-bottom: 7px;
}
.nolita_1 > img {
    width:88%;
}
.nolita_1 {
    width: 50%;
	float:left;
}
.nolita_2 > img {
    width: 100%;
}
.nolita_2 {
    width: 50%;
	float:left;
}
.legal{
	width:95%;
	margin:0 auto;
	}
.legal p{
	text-align:justify;
font-family: 'libre_baskervilleregular';
font-size:12px;		
}
.modal-dialog{
	max-width:100% !important;
}
.glyphicon {
    display: inline-block;
    float: left;
    font-family: 'Glyphicons Halflings';
    font-size: 0;
    font-style: normal;
    font-weight: normal;
    left: 10px;
    line-height: 1;
    position: absolute !important;
    top: 44% !important;
	color:#fff;
}
.modal-content{
	border:none !important;	
}
.modal {
    bottom: 0;
    display: none;
    height: 709px!important;
    left: 158px!important;
    outline: 0 none;
    overflow: hidden!important;
    position: absolute;
    right: 0;
    top: 36px!important;
    width: 78.2%!important;
    z-index: 1050;
}
.modal{
	background:#EDE5DA;
	opacity:0.9 !important;
}
.glyphicon.glyphicon-chevron-left {
    /*background: url("prev.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);*/
    float: left;
	left:0;
    height: 100px;
    width: 61px;
}

.glyphicon.glyphicon-chevron-right {
	/*background:url("next.png")  no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);*/
     float: right;
	 left:inherit;
    height: 100px;
    width: 61px;
    right: 6px;
}
.modal-header{
	display:none;	
}
.ekko-lightbox-container {
    margin: 0 auto !important;
    width: 67% !important;
}
.modal-content{
	box-shadow:none !important;
	background:none !important;	
}
.img-responsive{
	box-shadow:0px 0px 9px #000000!important
}

.press_box1{
	 width:100%;
	float:left;	
	border:1px solid #C3862D;
}
.residence a {
    color: #000000;
}
.li_color  a{
	color:#A29C92;	
}
.nolita_box1 {
    float: left;
    width: 42%;
}
.nolita_box1 img{
	width:100%;
	height:161px;	
}
table tbody,table tr,table td,table th {
    padding: 9px;
}
.hieght img{
	height:	267px;
}
.main_box_press.wrapper-parent {
    float: left;
    width: 1104px;
}

.main{
	height:auto;
}
.mainner_box {
    float: left;
    margin-left: 83px;
    overflow: hidden;
    width: 932px;
}
.prev {
	display: none;	
}
#bh_slide_1 {
	width: 120000px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/*Contact us form submission with ajax*/

#div-load {
  background-color: #777777;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#div-another-image {
  /*background-image: url("/assets/ajax-loader.gif");*/
  height: 100%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  z-index: 1001;
}